.PackDiv {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PackDiv img {
    width: 80%;
    height: auto;
}

.PackDiv a{
    margin-top: 1rem;
}
