.Clicker {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    height: 40rem;
    cursor: pointer;
}

.Clicker:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.GameBox {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.RulesBox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 5px;
}

.RulesBox div button {
    border-radius: 5px;
}

@media (max-width: 414px) {
    .Clicker{
        height: 30rem;
    }

    .GameBox {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr  0.5fr;
    }

    .RulesBox{
        text-align: center;
        align-items: center;
    }

    h1{
        text-align: center;
        font-size: 29px;
    }
}